<div ng-controller="BooksListCtrl">
	Data: {{ data }}
	<md-tabs flex md-border-bottom md-selected="selectedTab" >

		<md-tab label="A">
			<md-content class="md-padding">
				<!-- Problem 1: The isTeamAdmin method is called 15 times 
				when the page is loaded, and 60+ more times in Firefox 
				(around 15 times in Chrome) when switching tabs -->
				<div ng-if="isTeamAdmin(null)">stuff</div>

				<!-- Problem 2: Clicking this button causes the data to 
				change only within the tab, it does not change above -->
				Data: {{ data }}
				<md-button ng-click="data = 'bye'">Bye</md-button>
			</md-content>
		</md-tab>
	
		<md-tab label="B">
		</md-tab>
	</md-tabs>
</div>
